{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<form id="regForm" action="/input/" method="post">
    {% csrf_token %}

    <h2 class="text-center">
        Welcome to the Health Insurance Selector
    </h2>

    <div class="container">
        <div class="tab">

            <div class="form-group">
                {{ form.zipcode.label_tag }}
                {{ form.zipcode }}
            </div>

            <div class="form-group">
                {{ form.age.label_tag }}
                {{ form.age }}
            </div>

            <div class="form-group">
                {{ form.do_you_smoke.label_tag }}
                {{ form.do_you_smoke }}
            </div>

            <div class="form-group">
                {{ form.out_of_country.label_tag }}
                {{ form.out_of_country }}
            </div>
        </div>

         <!--  ---------------------------------------------------------------------  -->

            <div class="tab">
                <div class="form-group">
                    {{ form.diseases.label_tag }}
                    {{ form.diseases }}
                </div>

                <div class="form-group">
                    {{ form.benefits.label_tag }}
                    {{ form.benefits }}
                </div>

                <div class="form-group">
                    {{ form.desired_premium_price.label_tag }}
                    {{ form.desired_premium_price }}
                </div>

                <div class="form-group">
                    {{ form.desired_in_network_out_of_pocket_maximum.label_tag }}
                    {{ form.desired_in_network_out_of_pocket_maximum }}
                </div>

                <!--<div class="form-group">-->
                    <!--{{ form.desired_out_of_network_out_of_pocket_maximum.label_tag }}-->
                    <!--{{ form.desired_out_of_network_out_of_pocket_maximum }}-->
                <!--</div>-->

                <div class="form-group">
                    {{ form.desired_in_network_deductible.label_tag }}
                    {{ form.desired_in_network_deductible }}
                </div>

                <!--<div class="form-group">-->
                    <!--{{ form.desired_out_of_network_deductible.label_tag }}-->
                    <!--{{ form.desired_out_of_network_deductible }}-->
                <!--</div>-->

                <div class="form-group">
                    {{ form.desired_in_network_coinsurance.label_tag }}
                    {{ form.desired_in_network_coinsurance }}
                </div>

                <div class="form-group">
                    {{ form.desired_copay.label_tag }}
                    {{ form.desired_copay }}
                </div>

                <div class="form-group">
                    {{ form.number_of_visits.label_tag }}
                    {{ form.number_of_visits }}
                </div>

            </div>
        <div>
            <div style="float:right;">
                <button type="button" id="prevBtn" class="btn btn-primary" onclick="nextPrev(-1)">Previous</button>
                <button type="button" id="nextBtn" class="btn btn-primary" onclick="nextPrev(1)">Next</button>
            </div>
        </div>

        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
          <span class="step"></span>
          <span class="step"></span>
        </div>

    </div>
</form>
{% endblock %}
